.vscode/
__pycache__/
.pytest_cache/
*.egg-info/
paramancer/__pycache__/
paramancer/operators/__pycache__/
paramancer/optim/__pycache__/
paramancer/bloptim/__pycache__/
paramancer/variable/__pycache__/
storming.md
storming.drawio
examples/
doc.md
PLAN_DETAILS.md